.logo {
    max-width: 50%;
    margin: auto;
    text-align: center;
}

.titre {
    font-size: 2.5em;
}

.logo>img, .cms {
    width: 100%;
}

.link {
    width: auto;
    margin-right: 5px;
}

#section_cms p {
    max-width: 32%;
    height: 32%;
    margin: 1% 0;
    vertical-align: top;
}

.sous-titre, h3, h5 {
    font-size: 0.6em;
    font-weight: bold;
}

.sous-titre>strong {
    font-size: 1em;
    font-weight: bold;

